html, body, h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
  background-color: #2A3132 ;
  padding:10px;}
h1 {
    font-size: 15rem;

    /*#90AFC5;*/
    /*text-shadow: 20px 5px 20px red;*/
    text-shadow: 5px 5px 10px slategray;
    text-align: center;
    /*margin: 20px;*/
}
