div {
  width: 400px;
  height: 200px;
  border: 40px dashed red;
  margin: 20px auto;
  background-image: url("doggy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: orangered;
  border: 20px groove red;
  border-radius: 50px;
  /*border: 40px dashed red;*/

}

.sec {
  box-sizing: border-box;
}
