div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 100%;
  display: inline-block;
  /*background-image: url("../000_img/doggy.jpg");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/

}



img {
  border: 30px groove orangered;
  border-radius: 100%;
  padding: 50px;
}

.dogone {
  border: 10px dashed orangered;
}

.dogtwo {
  border: 10px dotted orangered;
}

.dogthree {
  border: 10px double orangered;
}
